packages: [
  "busy-signal"
  "file-icons"
  "intentions"
  "language-babel"
  "language-graphql"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "nuclide"
  "package-sync"
  "pigments"
  "prettier-atom"
  "reason-refmt"
  "vim-mode-plus"
]
