.tabs {
  background-color: rgb(24, 24, 37) !important;
}
.label-name {
  font-family: "JetBrainsMono Nerd Font", Menlo, Monaco, "Courier New",
    monospace !important;
}
.inline-tabs-placeholder {
  display: none;
}
.slider {
  width: 4px !important;
  left: auto !important;
  right: 4px !important;
  border-radius: 4px;
  opacity: 0.3;
}
.monaco-list .slider {
  right: 8px !important;
}
.sash-container .monaco-sash.vertical::before {
  transform: translateX(2px);
  background-color: var(--vscode-input-background);
}
.sash-container .monaco-sash.horizontal::before {
  transform: translateY(2px);
  background-color: var(--vscode-input-background);
}
.monaco-grid-branch-node
  .sash-container
  .monaco-sash:nth-child(3).vertical::before {
  transform: translateX(-2px);
}
.monaco-grid-branch-node
  .sash-container
  .monaco-sash:nth-child(3).horizontal::before {
  transform: translate(2px, -2px);
}
.decorationsOverviewRuler::before {
  background-color: var(--vscode-input-background);
  border-radius: 2px;
}
.xterm-decoration-overview-ruler {
  clip-path: inset(1px 1px 1px 1px);
}
.tab-border-top-container {
  display: none !important;
}
.monaco-workbench {
  background-color: var(--vscode-input-background);
}
.xterm-screen {
  margin-inline: -16px;
}
.activitybar {
  background-color: var(--vscode-sideBarTitle-background) !important;
}
#vscodevim\.vim\.primary {
  order: -1;
}
.statusbar {
  background-color: #89b4fa !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label^="-- NORMAL"]) {
  background-color: #89b4fa !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label^="-- INSERT"]) {
  background-color: #a6e3a1 !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label^="-- VISUAL"]) {
  background-color: #cba6f7 !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label^="-- REPLACE"]) {
  background-color: #f38ba8 !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label^="-- EASYMOTION"]) {
  background-color: #fab387 !important;
  color: #1e1e2e !important;
}
.statusbar:has(#vscodevim\.vim\.primary[aria-label$="|"]) {
  background-color: #cdd6f4 !important;
  color: #1e1e2e !important;
}
#vscodevim\.vim\.primary[aria-label$="|"] {
  width: 600px;
  height: 46px;
  position: fixed;
  top: 10%;
  left: 50%;
  background-color: transparent;
  padding: 0;
  margin-left: -300px;
}
#vscodevim\.vim\.primary[aria-label$="|"] > a {
  box-sizing: border-box;
  height: 32px;
  margin: 8px 6px;
  background-color: var(--vscode-input-background);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-focusBorder);
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
}
.statusbar {
  font-family: "JetBrainsMono Nerd Font", Menlo, Monaco, "Courier New",
    monospace !important;
  font-weight: 600;
}
.badge-content {
  font-weight: 900;
  height: 12px !important;
  line-height: 12px !important;
  opacity: 0.6;
  padding: 0 2px !important;
  top: 4px !important;
}

/* Activity Bar */
.composite-bar {
  margin: auto;
}

/* Ruler */
.decorationsOverviewRuler {
  box-shadow: 0px 0px 20px 8px var(--vscode-scrollbar-shadow);
}

/* Terminal */
.panel .content {
  margin-top: -4px;
}

/* Shadow */
.scroll-decoration {
  display: none !important;
}

/* Cursor in sidebar */
.explorer-viewlet
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.explorer-viewlet
  .monaco-list
  .monaco-list-row.selected:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.explorer-viewlet
  .monaco-list
  .monaco-list-row.selected:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 2px !important;
  left: 0px;
  background: #cba7f7;
}
.explorer-viewlet
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 8px !important;
  background-color: #f5e0dc;
  left: 0px;
  animation: monaco-cursor-smooth 0.5s ease-in-out 0s 20 alternate;
}

.scm-view
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.scm-view .monaco-list .monaco-list-row.selected:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.scm-view
  .monaco-list
  .monaco-list-row.selected:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 2px !important;
  left: 0px;
  background: #cba7f7;
}
.scm-view
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 8px !important;
  background-color: #f5e0dc;
  left: 0px;
  animation: monaco-cursor-smooth 0.5s ease-in-out 0s 20 alternate;
}

.search-view
  .search-view
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.search-view
  .monaco-list
  .monaco-list-row.selected:not(.monaco-tree-sticky-row) {
  background-color: transparent !important;
}
.search-view
  .monaco-list
  .monaco-list-row.selected:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 2px !important;
  left: 4px;
  background: #cba7f7;
}
.search-view
  .monaco-list:focus
  .monaco-list-row.focused:not(.monaco-tree-sticky-row)
  .monaco-tl-indent {
  width: 8px !important;
  background-color: #f5e0dc;
  left: 4px;
  animation: monaco-cursor-smooth 0.5s ease-in-out 0s 20 alternate;
}
